=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class AuthApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Login with email and password
    # Authenticates with email/password and returns a fresh API key on success.
    # @param login_request [LoginRequest] Login credentials
    # @param [Hash] opts the optional parameters
    # @return [AccountBootstrapData]
    def login(login_request, opts = {})
      data, _status_code, _headers = login_with_http_info(login_request, opts)
      data
    end

    # Login with email and password
    # Authenticates with email/password and returns a fresh API key on success.
    # @param login_request [LoginRequest] Login credentials
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountBootstrapData, Integer, Hash)>] AccountBootstrapData data, response status code and response headers
    def login_with_http_info(login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.login ...'
      end
      # verify the required parameter 'login_request' is set
      if @api_client.config.client_side_validation && login_request.nil?
        fail ArgumentError, "Missing the required parameter 'login_request' when calling AuthApi.login"
      end
      # resource path
      local_var_path = '/v1/auth/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(login_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountBootstrapData'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.login",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#login\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register with email and password
    # Creates a new account with email/password credentials and returns a bootstrap API key.
    # @param register_request [RegisterRequest] Registration details
    # @param [Hash] opts the optional parameters
    # @return [AccountBootstrapData]
    def register(register_request, opts = {})
      data, _status_code, _headers = register_with_http_info(register_request, opts)
      data
    end

    # Register with email and password
    # Creates a new account with email/password credentials and returns a bootstrap API key.
    # @param register_request [RegisterRequest] Registration details
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountBootstrapData, Integer, Hash)>] AccountBootstrapData data, response status code and response headers
    def register_with_http_info(register_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthApi.register ...'
      end
      # verify the required parameter 'register_request' is set
      if @api_client.config.client_side_validation && register_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_request' when calling AuthApi.register"
      end
      # resource path
      local_var_path = '/v1/auth/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountBootstrapData'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthApi.register",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthApi#register\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
