=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class BrandApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get brand settings
    # @param [Hash] opts the optional parameters
    # @return [BrandSettings]
    def get_brand_settings(opts = {})
      data, _status_code, _headers = get_brand_settings_with_http_info(opts)
      data
    end

    # Get brand settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandSettings, Integer, Hash)>] BrandSettings data, response status code and response headers
    def get_brand_settings_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandApi.get_brand_settings ...'
      end
      # resource path
      local_var_path = '/v1/brand-settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BrandSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BrandApi.get_brand_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandApi#get_brand_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert brand settings
    # Creates or replaces white-label brand settings for the account.
    # @param upsert_brand_settings_request [UpsertBrandSettingsRequest] Brand settings
    # @param [Hash] opts the optional parameters
    # @return [BrandSettings]
    def upsert_brand_settings(upsert_brand_settings_request, opts = {})
      data, _status_code, _headers = upsert_brand_settings_with_http_info(upsert_brand_settings_request, opts)
      data
    end

    # Upsert brand settings
    # Creates or replaces white-label brand settings for the account.
    # @param upsert_brand_settings_request [UpsertBrandSettingsRequest] Brand settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(BrandSettings, Integer, Hash)>] BrandSettings data, response status code and response headers
    def upsert_brand_settings_with_http_info(upsert_brand_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandApi.upsert_brand_settings ...'
      end
      # verify the required parameter 'upsert_brand_settings_request' is set
      if @api_client.config.client_side_validation && upsert_brand_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_brand_settings_request' when calling BrandApi.upsert_brand_settings"
      end
      # resource path
      local_var_path = '/v1/brand-settings'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_brand_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'BrandSettings'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"BrandApi.upsert_brand_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandApi#upsert_brand_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
