=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class CustomDomainsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create custom domain
    # @param create_custom_domain_request [CreateCustomDomainRequest] Domain details
    # @param [Hash] opts the optional parameters
    # @return [CustomDomain]
    def create_custom_domain(create_custom_domain_request, opts = {})
      data, _status_code, _headers = create_custom_domain_with_http_info(create_custom_domain_request, opts)
      data
    end

    # Create custom domain
    # @param create_custom_domain_request [CreateCustomDomainRequest] Domain details
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomDomain, Integer, Hash)>] CustomDomain data, response status code and response headers
    def create_custom_domain_with_http_info(create_custom_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomDomainsApi.create_custom_domain ...'
      end
      # verify the required parameter 'create_custom_domain_request' is set
      if @api_client.config.client_side_validation && create_custom_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_custom_domain_request' when calling CustomDomainsApi.create_custom_domain"
      end
      # resource path
      local_var_path = '/v1/custom-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_custom_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CustomDomain'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomDomainsApi.create_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomDomainsApi#create_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom domains
    # @param [Hash] opts the optional parameters
    # @return [Array<CustomDomain>]
    def list_custom_domains(opts = {})
      data, _status_code, _headers = list_custom_domains_with_http_info(opts)
      data
    end

    # List custom domains
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<CustomDomain>, Integer, Hash)>] Array<CustomDomain> data, response status code and response headers
    def list_custom_domains_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomDomainsApi.list_custom_domains ...'
      end
      # resource path
      local_var_path = '/v1/custom-domains'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<CustomDomain>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"CustomDomainsApi.list_custom_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomDomainsApi#list_custom_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
