=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class DestinationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create destination
    # Creates a new webhook delivery destination. The signing_secret is encrypted at rest and never returned.
    # @param create_destination_request [CreateDestinationRequest] Destination config
    # @param [Hash] opts the optional parameters
    # @return [Destination]
    def create_destination(create_destination_request, opts = {})
      data, _status_code, _headers = create_destination_with_http_info(create_destination_request, opts)
      data
    end

    # Create destination
    # Creates a new webhook delivery destination. The signing_secret is encrypted at rest and never returned.
    # @param create_destination_request [CreateDestinationRequest] Destination config
    # @param [Hash] opts the optional parameters
    # @return [Array<(Destination, Integer, Hash)>] Destination data, response status code and response headers
    def create_destination_with_http_info(create_destination_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DestinationsApi.create_destination ...'
      end
      # verify the required parameter 'create_destination_request' is set
      if @api_client.config.client_side_validation && create_destination_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_destination_request' when calling DestinationsApi.create_destination"
      end
      # resource path
      local_var_path = '/v1/destinations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_destination_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Destination'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DestinationsApi.create_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DestinationsApi#create_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get destination
    # @param id [String] Destination UUID
    # @param [Hash] opts the optional parameters
    # @return [Destination]
    def get_destination(id, opts = {})
      data, _status_code, _headers = get_destination_with_http_info(id, opts)
      data
    end

    # Get destination
    # @param id [String] Destination UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Destination, Integer, Hash)>] Destination data, response status code and response headers
    def get_destination_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DestinationsApi.get_destination ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DestinationsApi.get_destination"
      end
      # resource path
      local_var_path = '/v1/destinations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Destination'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DestinationsApi.get_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DestinationsApi#get_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List destination presets
    # @param [Hash] opts the optional parameters
    # @return [Array<DestinationPreset>]
    def list_destination_presets(opts = {})
      data, _status_code, _headers = list_destination_presets_with_http_info(opts)
      data
    end

    # List destination presets
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<DestinationPreset>, Integer, Hash)>] Array<DestinationPreset> data, response status code and response headers
    def list_destination_presets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DestinationsApi.list_destination_presets ...'
      end
      # resource path
      local_var_path = '/v1/destination-presets'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<DestinationPreset>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DestinationsApi.list_destination_presets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DestinationsApi#list_destination_presets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List destinations
    # @param [Hash] opts the optional parameters
    # @return [Array<Destination>]
    def list_destinations(opts = {})
      data, _status_code, _headers = list_destinations_with_http_info(opts)
      data
    end

    # List destinations
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Destination>, Integer, Hash)>] Array<Destination> data, response status code and response headers
    def list_destinations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DestinationsApi.list_destinations ...'
      end
      # resource path
      local_var_path = '/v1/destinations'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Destination>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DestinationsApi.list_destinations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DestinationsApi#list_destinations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate destination signing secret
    # @param id [String] Destination UUID
    # @param body [Object] New signing secret
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def rotate_destination_secret(id, body, opts = {})
      data, _status_code, _headers = rotate_destination_secret_with_http_info(id, body, opts)
      data
    end

    # Rotate destination signing secret
    # @param id [String] Destination UUID
    # @param body [Object] New signing secret
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def rotate_destination_secret_with_http_info(id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DestinationsApi.rotate_destination_secret ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DestinationsApi.rotate_destination_secret"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling DestinationsApi.rotate_destination_secret"
      end
      # resource path
      local_var_path = '/v1/destinations/{id}/rotate-secret'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DestinationsApi.rotate_destination_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DestinationsApi#rotate_destination_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update destination
    # @param id [String] Destination UUID
    # @param update_destination_request [UpdateDestinationRequest] Fields to update
    # @param [Hash] opts the optional parameters
    # @return [Destination]
    def update_destination(id, update_destination_request, opts = {})
      data, _status_code, _headers = update_destination_with_http_info(id, update_destination_request, opts)
      data
    end

    # Update destination
    # @param id [String] Destination UUID
    # @param update_destination_request [UpdateDestinationRequest] Fields to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(Destination, Integer, Hash)>] Destination data, response status code and response headers
    def update_destination_with_http_info(id, update_destination_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DestinationsApi.update_destination ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DestinationsApi.update_destination"
      end
      # verify the required parameter 'update_destination_request' is set
      if @api_client.config.client_side_validation && update_destination_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_destination_request' when calling DestinationsApi.update_destination"
      end
      # resource path
      local_var_path = '/v1/destinations/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_destination_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Destination'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"DestinationsApi.update_destination",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DestinationsApi#update_destination\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
