=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class IngestApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ingest webhook event
    # Accepts an inbound webhook. The path token authenticates the source — no Bearer header required.
    # @param token [String] Source path token (src_...)
    # @param [Hash] opts the optional parameters
    # @return [IngestAcceptedData]
    def ingest(token, opts = {})
      data, _status_code, _headers = ingest_with_http_info(token, opts)
      data
    end

    # Ingest webhook event
    # Accepts an inbound webhook. The path token authenticates the source — no Bearer header required.
    # @param token [String] Source path token (src_...)
    # @param [Hash] opts the optional parameters
    # @return [Array<(IngestAcceptedData, Integer, Hash)>] IngestAcceptedData data, response status code and response headers
    def ingest_with_http_info(token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IngestApi.ingest ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling IngestApi.ingest"
      end
      # resource path
      local_var_path = '/ingest/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'IngestAcceptedData'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"IngestApi.ingest",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IngestApi#ingest\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
