=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class OutboundEventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get outbound event
    # @param id [String] Event UUID
    # @param [Hash] opts the optional parameters
    # @return [EventDetailData]
    def get_outbound_event(id, opts = {})
      data, _status_code, _headers = get_outbound_event_with_http_info(id, opts)
      data
    end

    # Get outbound event
    # @param id [String] Event UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventDetailData, Integer, Hash)>] EventDetailData data, response status code and response headers
    def get_outbound_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutboundEventsApi.get_outbound_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OutboundEventsApi.get_outbound_event"
      end
      # resource path
      local_var_path = '/v1/outbound-events/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventDetailData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OutboundEventsApi.get_outbound_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundEventsApi#get_outbound_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List outbound events
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max results (default 25, max 200)
    # @option opts [Integer] :offset Pagination offset
    # @return [EventListData]
    def list_outbound_events(opts = {})
      data, _status_code, _headers = list_outbound_events_with_http_info(opts)
      data
    end

    # List outbound events
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max results (default 25, max 200)
    # @option opts [Integer] :offset Pagination offset
    # @return [Array<(EventListData, Integer, Hash)>] EventListData data, response status code and response headers
    def list_outbound_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutboundEventsApi.list_outbound_events ...'
      end
      # resource path
      local_var_path = '/v1/outbound-events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventListData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OutboundEventsApi.list_outbound_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundEventsApi#list_outbound_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Publish outbound event
    # Queues a new outbound event for delivery to all matching route destinations.
    # @param publish_outbound_event_request [PublishOutboundEventRequest] Event payload
    # @param [Hash] opts the optional parameters
    # @return [PublishOutboundData]
    def publish_outbound_event(publish_outbound_event_request, opts = {})
      data, _status_code, _headers = publish_outbound_event_with_http_info(publish_outbound_event_request, opts)
      data
    end

    # Publish outbound event
    # Queues a new outbound event for delivery to all matching route destinations.
    # @param publish_outbound_event_request [PublishOutboundEventRequest] Event payload
    # @param [Hash] opts the optional parameters
    # @return [Array<(PublishOutboundData, Integer, Hash)>] PublishOutboundData data, response status code and response headers
    def publish_outbound_event_with_http_info(publish_outbound_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutboundEventsApi.publish_outbound_event ...'
      end
      # verify the required parameter 'publish_outbound_event_request' is set
      if @api_client.config.client_side_validation && publish_outbound_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'publish_outbound_event_request' when calling OutboundEventsApi.publish_outbound_event"
      end
      # resource path
      local_var_path = '/v1/outbound-events'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(publish_outbound_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PublishOutboundData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OutboundEventsApi.publish_outbound_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundEventsApi#publish_outbound_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Replay outbound event
    # @param id [String] Event UUID
    # @param [Hash] opts the optional parameters
    # @return [ReplayEventData]
    def replay_outbound_event(id, opts = {})
      data, _status_code, _headers = replay_outbound_event_with_http_info(id, opts)
      data
    end

    # Replay outbound event
    # @param id [String] Event UUID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ReplayEventData, Integer, Hash)>] ReplayEventData data, response status code and response headers
    def replay_outbound_event_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutboundEventsApi.replay_outbound_event ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling OutboundEventsApi.replay_outbound_event"
      end
      # resource path
      local_var_path = '/v1/outbound-events/{id}/replay'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ReplayEventData'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"OutboundEventsApi.replay_outbound_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutboundEventsApi#replay_outbound_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
