=begin
#GetHook API

#Webhook Reliability Gateway — accept inbound webhooks, persist them durably, forward to destinations, retry failures, and replay past events.

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Gethook
  class RoutesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create route
    # Creates a routing rule that forwards matching events from a source to a destination.
    # @param create_route_request [CreateRouteRequest] Route config
    # @param [Hash] opts the optional parameters
    # @return [Route]
    def create_route(create_route_request, opts = {})
      data, _status_code, _headers = create_route_with_http_info(create_route_request, opts)
      data
    end

    # Create route
    # Creates a routing rule that forwards matching events from a source to a destination.
    # @param create_route_request [CreateRouteRequest] Route config
    # @param [Hash] opts the optional parameters
    # @return [Array<(Route, Integer, Hash)>] Route data, response status code and response headers
    def create_route_with_http_info(create_route_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutesApi.create_route ...'
      end
      # verify the required parameter 'create_route_request' is set
      if @api_client.config.client_side_validation && create_route_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_route_request' when calling RoutesApi.create_route"
      end
      # resource path
      local_var_path = '/v1/routes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_route_request)

      # return_type
      return_type = opts[:debug_return_type] || 'Route'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RoutesApi.create_route",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutesApi#create_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List routes
    # @param [Hash] opts the optional parameters
    # @return [Array<Route>]
    def list_routes(opts = {})
      data, _status_code, _headers = list_routes_with_http_info(opts)
      data
    end

    # List routes
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Route>, Integer, Hash)>] Array<Route> data, response status code and response headers
    def list_routes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutesApi.list_routes ...'
      end
      # resource path
      local_var_path = '/v1/routes'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Route>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth']

      new_options = opts.merge(
        :operation => :"RoutesApi.list_routes",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutesApi#list_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
